.container-fluid {
  padding: 0;
}
html {
  font-size: 25px;
}
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px;
}
img{
  max-width: 100%;
  width: 400px;
}
input[type="submit"] {
  background-color: rgba(255,157, 76,1);
  border: none;
}
body, html{
  background-image: radial-gradient(closest-corner at 60% 55%, rgba(255,217,186,1), rgba(255,157, 76,1));
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
section {
  height: 100%;
  position: relative;
}

.centerAnimate {
  position: absolute;
  top: 30%;
  width: 500px;
  height: 500px;
}
.animateWrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  align-items: center;
}
.IMessageWrapper {
  position: absolute;
  top: 65%;
  z-index: 1;
}
.picTransformWrapper {
  position: absolute;
  z-index: 2;
  /* object-fit: contain;
  overflow: hidden; */
  animation: zoomOut .75s ease-in 6s 1 normal forwards, fadeOut 1s ease 9.5s 1 normal forwards; 
  transform: scale(0); 
  opacity: 0;
}
.registerCardWrapper {
  position: absolute;
  z-index: 3;
}
  .card {
  border:2px solid rgba(255,157, 76,1);
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0);
  margin: auto;
  animation: zoomOutCard 1s ease 10s 1 normal forwards;
}
.cardHead {
  border-bottom: 1px solid grey;
}
.newPicTextAnimation h2 {
  color: white;
  position: absolute;
  top: 200px;
}
@keyframes fadeOut {
  to {filter: blur(4px);}
}
@keyframes zoomOut{
  to {transform: scale(4); opacity: 1;} 
}
@keyframes zoomOutCard{
  to {transform: scale(1); opacity: 1;} 
}
.textAnimateTwo {
  position: absolute;
  top: 140px;
  left: 170px;
  opacity: 0;
  animation: animateTwo 1s ease 7.5s 1 normal forwards;
}
@keyframes animateTwo {
  to {opacity: 1; top: 105px;}
}
.animate {
  opacity: 0;
  animation: fadeIn 1s ease 4s 1 normal forwards;
}
@keyframes xAxis{
  to {transform: translateX(-300px);}
}
@keyframes yAxis{
  to {
    transform: translateY(-300px) scale(2);
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {opacity: 1}
}
.textAnimateX {
  animation: xAxis .75s ease-out 2s 1;
  animation-fill-mode: forwards;
}
.textAnimateY {
  width: 100px;
  opacity: 0;
  animation: yAxis .75s ease-in 2s 1;
  animation-fill-mode: forwards;
}
.headLogo {
  margin: auto;
}