/* Coolors Exported Palette - https://coolors.co/ff9d4c-ffd275-f8f4a6-a57f60-8eb19d */

/* HSL */
$color1: hsla(27%, 70%, 100%, 1);
$color2: hsla(40%, 54%, 100%, 1);
$color3: hsla(57%, 33%, 97%, 1);
$color4: hsla(27%, 42%, 65%, 1);
$color5: hsla(146%, 20%, 69%, 1);

/* RGB */
$color1: rgba(255, 157, 76, 1);
$color2: rgba(255, 210, 117, 1);
$color3: rgba(248, 244, 166, 1);
$color4: rgba(165, 127, 96, 1);
$color5: rgba(142, 177, 157, 1);

/* HEX */
$color1: #ff9d4cff;
$color2: #ffd275ff;
$color3: #f8f4a6ff;
$color4: #a57f60ff;
$color5: #8eb19dff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-right: linear-gradient(90deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-bottom: linear-gradient(180deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-left: linear-gradient(270deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-top-right: linear-gradient(45deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-bottom-right: linear-gradient(135deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-top-left: linear-gradient(225deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-bottom-left: linear-gradient(315deg, #ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);
$gradient-radial: radial-gradient(#ff9d4cff, #ffd275ff, #f8f4a6ff, #a57f60ff, #8eb19dff);